

body {
    background-color: green;
    margin: 20px;
    padding: 20px;
    font-family: cursive, monospace;
}

body h1 {
  text-align: center;
}

#wrap {
    width: 80%;
    margin: 0 auto;
    background-color: orange;

}

header img {
    width: 50%;





}

header {
    padding: 20px;
    background-color: blue;
}

nav {
    background-color: blue;
    padding: 20px;
    text-align: center;
}

nav a {
    color: black;
    font-family: Verdana, monospace;
    padding: 20px 30px;
    text-decoration: none;
    font-size: 120%;

}

nav a:hover {
    background-color: green;
    color: white;

}

nav li {
    display: inline;
}

nav ul {
    margin: 0;
    padding: 0;
}

section {
    padding: 1% 2%;
    overflow: auto;
}

section h1 {
    color: purple;
    font-family: monospace;
    font-size: 400%;
    text-align: center;
    position: absolute;
    top: 200px;
    left: 200px;



}

section h2 {
    color: blue;
    font-size: 140%;

}

footer {
    background-color: white;
    color: black;
    padding: 0px;
    text-align: center;

}

.pic {
    width: 40%;
    float: right;

}
